.one-spot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}
.spot-detail-img{
    height: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.details-box {
    margin: 10px;
}
/* .details-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
.edit-button {
    cursor: pointer;
}
.reviews-box {
    margin-top: 10px;
    border-top: 1px solid grey;
}
