/* .details-body {
} */
 .header-container-spotd{
    justify-self: left;
    /* margin: 0px 20px 0px 50px; */
    margin: auto;
    /* padding: 0 10px; */
    width: 88%;
 }
 .spotname-header{
    margin: 10px 0px;
 }
.one-spot {
    display: flex;
    /* width: fit-content; */
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.spot-detail-img {
    border-radius: 30px;
    width: 100%;
    max-height: 500px;
    /* max-width: 45%; */
}

.middle-sect {
    display: flex;
    width: 90%;
    justify-content: space-between;

}

.details-box {
    margin: 10px;
    width: 70%
}

.image-container {
    display: grid;
    grid-template-areas:
        'one one two four'
        'one one three five';
    /* height: 350px; */
    width: 90%;
    max-height: 500px;
    gap: 5px;
}

.one {
    grid-area: one;
    /* height: 350px; */
    width: 100%;
    /* max-width: 830px;
    max-height: 550px; */
}

.two {
    height: 100%;
}

.two,
.three,
.four,
.five {
    padding: none;
    margin: none;
    max-height: 245px;
}

.edit-button {
    cursor: pointer;
}

.reserve-box {
    border: 5px grey solid;
    border-radius: 5px;
    width: 30%;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.reserve-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.reserve-button {
    background-color: #7593d9;
    color: white;
    margin: 5px 5%;
    width: 100%;
    height: 40px;
    box-shadow: 3px 3px 1px grey;
    border-radius: 2px;
    cursor: pointer;
}

.reviews-box {
    margin: 10px auto;
    border-top: 1px solid grey;
    width: 90%;
}

.right-side-reserve {
    display: flex;
    align-items: center;
    margin: 5px;
}
