/* .super-big-box{
    display: flex;
    flex-wrap: wrap;
} */
 /*
    #5382f2 darker blue
    #7593d9 middle blue
    #dae4ff light blue
    */
.manage-spots-container {
    width: fit-content;
}
#manage-container{
    display: flex;
    flex-wrap: wrap;
}
.buttons-manage-spot{
    display: flex;
    gap: 5px;
}

.buttons-manage-spot > * {
    background-color: lightgray;
    border-radius: 4px;
    margin-left: 5px;
}
.new-spot-link{
    border: 2px black solid;
    border-radius: 3px;
    color: white;
    background-color: #7593d9;
    padding: 4px;
    text-decoration: none;
}
