.biggest{
    display: flex;
    justify-content: center;
}
.big-box{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headers{
    margin: 5px 0px;
    display: flex;
    justify-content: left;
}
.first-section{
    height:auto;
}
.input {
    width: 100%;
    background-color: aliceblue;
    border-radius: 3px;
}
textarea{
    width: 100%;
    background-color: aliceblue;
    border-radius: 3px;
    border: 2px solid black;
    resize: none;
}
p {
    font-size: 13px;
}
.make-spot-buttons{
    width: 100%;
    margin: 3px;
    background-color: #dae4ff;
    border: 2px solid ;
    border-radius: 3px;
    cursor: pointer;
}
.half{
    width: 50%;
}
.width-check{
    width: 99%;
}
#cit-stat2{
    display: flex;
    width: 100%;
    gap: 10px;
}
#lat-lng2{
    display: flex;
    width: 100%;
    gap: 10px;
}
