.update-spot-button{
    width: 100%;
    margin: 3px;
    background-color: #dae4ff;
    border: 2px solid ;
    border-radius: 3px;
    cursor: pointer;
}
.half{
    width: 50%;
}
.width-check{
    width: 99%;
}
#cit-stat{
    display: flex;
    width: 100%;
    gap: 10px;
}
#lat-lng{
    display: flex;
    width: 100%;
    gap: 10px;
}
