* {
    /* background-color: rgb(255, 248, 226); */
    /*
    #5382f2 darker blue
    #7593d9 middle blue
    #dae4ff light blue
    */
    font-family: 'Roboto Mono', monospace;
}

.main-body {
    width: fit-content;
    margin: 0 auto;
}

.inner-card-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    max-width: 1050px;
    gap: 10px;
}

@media screen and (max-width : 1049px) {
    .inner-card-container {
        grid-template-columns: repeat(3, 250px);
    }
}
@media screen and (max-width : 803px) {
    .inner-card-container {
        grid-template-columns: repeat(2, 250px);
    }
}
@media screen and (max-width : 542px) {
    .inner-card-container {
        grid-template-columns: repeat(1, 250px);
    }
}

.spot-card {
    margin: 5px;
    border: 1px solid grey;
    border-radius: 11px;
    cursor: pointer;
    width: 250px;
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

}

.spot-img {
    height: 170px;
    width: 250px;
    border-radius: 10px;
}

.card-text-box {
    display: flex;
    justify-content: space-between;
}

.left-text {
    width: fit-content;
}

.right-text {
    display: flex;
}

.card-text {
    margin: 5px;
}

.second-heading {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    justify-content: center;
}


#rating {
    margin: 0px;
}
