.spot-card {
    height: 150px;
    justify-content: center;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 11px;
    cursor: pointer;
}
.spot-img {
    height: 100px;
    /* width: 100px; */
    border-radius: 10px;
}
.card-container{
    display: flex;
    width:auto;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}
.card-text {
    margin: 5px;
}
.upper-text{
    display: flex;
    justify-content: space-between;
}
