/* nav css stuff */
.profile-button {
    color: #5382f2;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 0px;
    background-color: white;
    /* padding: 0px;
    margin: 0px; */
}

.hidden {
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    height:fit-content
}
.logo {
    font-size: 50px;
    cursor: pointer;
}
.logo-box{
    display: flex;
    /* border: 1px solid red; */
    color: #5382f2;
    align-items: center;
    height: 80px;
}
.cool-spots{
    font-family: 'New Amsterdam', sans-serif;
}
.no-bullets {
    list-style-type: none;
    cursor: pointer;
}
.profile-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /* border: 1px red solid;
    border-radius: 40px; */
    padding: 1%;
}
.nav-buttons{
    margin: 5px;
}
/* #user-things-area{
    display: flex;
    align-items: center;
    justify-content: center;
 } */
.profile-dropdown{
    position: absolute;
    right: 10px;
    z-index: 999;
    background-color: #eaf0ff;
    border: #5382f2 1px solid;
    padding: 9px;
    border-radius: 5px;
}

.drop-list{
    padding: 0%;
    /* background-color: #dae4ff;
    border: #5382f2 1px solid; */
    border-radius: 5px;
}
.logout-button{
    background-color: #b4c9fc;
    border: none;
    border-radius: 5px;
}
