#login-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.errors {
    color: red;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-inputs {
    width: 90%;
    margin: 5px 10px;
}

.isdisabled {
    background-color: lightgray;
}

.notdisabled {
    background-color: #7593d9;
}

.login-button {
    width: 92%;
    margin: 5px 10px;
    cursor: pointer;

}
.blue {
    background-color: #dae4ff;
}

#demouser-button {
    position: unset;
}
